@page "/zaaltoevoegen"
@rendermode InteractiveServer
@using CineMagicData.Models
@using CineMagicManagementPortal.Services
@inject RoomService RoomService
@inject NavigationManager NavigationManager
<PageTitle>NL - CineMagic Managementportaal - Zaal toevoegen</PageTitle>
<div class="zaal-toevoegen">
  <h1 class="text-center" >Zaal toevoegen</h1>
  <p>@error</p>

 <form @onsubmit="HandleSubmit" style="margin-top:50px !important; margin-left: 36%;">
     <div class="form-group row">
       <label for="zaalnummer" class="col-sm-2 col-form-label">Zaalnummer:</label>
       <div class="col-sm-10">
         <input type="number" @bind="NewRoom.room_number" style="background-color:black; border: none;" class="form-control" id="zaalnummer"  placeholder="Vul Zaalnummer in" required>
         <hr style="color:#707070; width: 200px; margin-top:5px;" />
       </div>
     </div>
     <div class="form-group row">
       <label for="aantalZitplaatsen" class="col-sm-2 col-form-label">Aantal zitplaatsen:</label>
       <div class="col-sm-10">
         <input type="number" @bind="NewRoom.amount_seats" style="background-color:black; border: none;" class="form-control" id="aantalZitplaatsen"  placeholder="Vul Aantal Zitplaatsen in" required>
         <hr style="color:#707070; width: 200px; margin-top:5px;" />
       </div>
     </div>
     <div class="form-group row">
       <label for="aantalRijen" class="col-sm-2 col-form-label">Aantal rijen:</label>
       <div class="col-sm-10">
         <input type="number" style="background-color:black; border: none;" @bind="NewRoom.amount_rows" class="form-control" id="aantalRijen"  placeholder="Vul Aantal Rijen in" required>
         <hr style="color:#707070; width: 200px; margin-top:5px;" />
       </div>
     </div>
     <div class="form-group row">
       <label for="ruimte" class="col-sm-2 col-form-label">Ruimte:</label>
       <div class="col-sm-10">
         <input type="text" style="background-color:black; border: none;" @bind="NewRoom.size" class="form-control" id="ruimte"  placeholder="Vul Ruimte oppervlake in 4kante meters in" required>
         <hr style="color:#707070; width: 200px; margin-top:5px;" />
       </div>
     </div>
     <button type="submit" style="background-color:#9f0202; border: none;" class="btn btn-primary">Zaal toevoegen</button>
   </form>
  
 
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

@code {
    
  private Room NewRoom{ get; set; } = new Room();
  private string error = "";

  private async Task HandleSubmit()
  {

    var result = await RoomService.AddRoom(NewRoom);

    if (result.IsSuccessStatusCode)
    {
      NavigationManager.NavigateTo("/");
    }

    error = result.ToString();
  }
}
