@inherits LayoutComponentBase

<div class="page">
        <link href="bootstrap/bootstrap.min.css" rel="stylesheet" /> 
        <link href="css/app.css" rel="stylesheet" />
        <link href="css/AddRooms.css" rel="stylesheet"/>
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="top-row px-4" id="navbar">
            <!--logo here, centered-->
            <img href="#" alt="logo_CineMagic" class="mx-auto"/>
        </div>
        @Body
    </div>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred. Please contact your system manager.
    <a href="mailto:tdc.swijnenburg@student.avans.nl">Email Support</a>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    // Your C# code, if any, goes here.
}
