@inject IHostEnvironment HostEnvironment
@inherits LayoutComponentBase
<link rel="stylesheet" type="text/css" href="style.css"/>
<div class="page" id="body">
    
    <main>
        <div id="nav">
            <a href="/"><img src="Img/logo.png" alt="logo" style="margin-top:-30px !important; width:300px; height: 300px; display: block; margin: 0 auto; padding: 0px; "/></a>
            
            @*language flags*@
            @*TODO:hier links van maken,pas doen als alle pages goed zijn.*@
            <img src="Img/Eng_flag.png" style="width:100px; height: 50px; float: right; margin-top: -240px; margin-right: 140px;"/>
            <img src="Img/NL_flag.png" style="width:100px; height: 50px; float: right; margin-top: -240px; margin-right: 260px; "/>
            <a href="/WeekOverview" style="text-decoration:none; color:black; width:100px; height: 50px; float: right; margin-top: -250px; margin-right: 1700px; ">WeekOverzicht</a>
            <a href="#" style="text-decoration:none; color:black; width:100px; height: 50px; float: right; margin-top: -230px; margin-right: 1700px; ">Nieuwsbrief</a>
            <a href="https://www.instagram.com/cinemagic.official/" target="_blank">
                <img src="Img/insta.png" style="width:100px; height: 50px; float: right; margin-top: -240px; margin-right: 1550px; "/>
            </a>
            <a href="https://www.facebook.com/profile.php?id=61553547868972&locale=nl_NL" target="_blank">
                <img src="Img/fb.png" style="width:100px; height: 50px; float: right; margin-top: -240px; margin-right: 1430px; "/>
            </a>
            <a href="https://twitter.com/Cinemagic" target="_blank">
                <img src="Img/x.png" style="width:100px; height: 50px; float: right; margin-top: -240px; margin-right: 1330px;"/>
            </a>
            <a href="/Maps">
                <img src="Img/location.png" style="width:100px; height: 50px; float: right; margin-top: -240px; margin-right: 20px;"/>
            </a>

        </div>    
        
        <article class="content"  style="margin-top:0px;padding:0px;  ">
            @Body
        </article>
    </main>
</div>

@*<div id="blazor-error-ui" data-nosnippet>
    @if (HostEnvironment.IsProduction())
    {
        <span>An error has occurred.</span>
    }
    else
    {
        <span>An unhandled exception occurred.</span>
    }
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>*@