@inherits LayoutComponentBase
<link rel="stylesheet" type="text/css" href="style.css"/>
<div class="page" id="body">
    

    <main>
        <div  id="nav">
            <img src="Img/logo.png" alt="logo" style="margin-top:-30px !important; width:300px; height: 300px; display: block; margin: 0 auto; padding: 0px; "/>
            @*language flags*@
            @*hier links van maken*@
            <img src="Img/Eng_flag.png" style="width:100px; height: 50px; float: right; margin-top: -240px; margin-right: 20px;"/>
            <img src="Img/NL_flag.png" style="width:100px; height: 50px; float: right; margin-top: -240px; margin-right: 140px; "/>
            
        </div>    
        
        <article class="content"  style="margin-top:300px;padding:0px; ">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>