@page "/payment"

<h1 style="font-size: 2em; color: #fff;">CineMAGIC - Pay(pin) 5im</h1>

<div class="order-summary" style="margin: 20px 0; padding: 20px; border: 1px solid #fff;">
    <h2 style="font-size: 1.5em; margin-bottom: 10px;">Order Summary</h2>
    <ul style="list-style-type: none; padding: 0;">
        <li style="margin-bottom: 5px;">Ticketsort1 - 3x : £0</li>
        <li style="margin-bottom: 5px;">Ticketsort2 - 4x : £0</li>
        <li style="margin-bottom: 5px;">Ticketsort3 - 2x : £0</li>
        <li style="margin-bottom: 5px;">Ticketsort4 - 0x : £0</li>
        <li style="margin-bottom: 5px;">Ticketsort5 - 6x : £0.00</li>
    </ul>
    <p>Total: -</p>
</div>

<button class="pay-button" style="background-color: red; color: #fff; padding: 10px 20px; border: none; cursor: pointer;">PAY (only PIN)</button>