@page "/film-details"

<div style="background-color: #ff961d; height: 20vh; width: 100%;">
    <!-- TODO: Voeg het logo hier toe -->
</div>

<div style="padding-top: 30px; padding-left: 80px; display: flex;">
    <div style="text-align: center; width: 70%;">
        <h1>The Godfather</h1>
        <div style="text-align: center;">
            <p>@LoremIpsum</p>
            <!-- You can bind the text dynamically to a property in your code behind -->
        </div>
    </div>
    <div style="width: 30%;">
        <!-- Add any additional content here if needed -->
    </div>
</div>

@code {
    // Define a property to hold your Lorem Ipsum text
    string LoremIpsum = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eleifend eros ut mattis consectetur. Praesent in ligula nibh. Sed auctor, ante ac ultrices laoreet, orci eros laoreet urna, et semper ante erat in urna. Curabitur sapien ipsum, tempor convallis eros vel, accumsan ultrices urna. In ut placerat turpis. Vivamus id elit sed nisi fringilla molestie in vitae libero. Suspendisse in ultrices nunc. Nulla ultrices leo sit amet elit malesuada, non fringilla est dapibus. Curabitur dapibus efficitur urna, nec accumsan arcu posuere vel.";
}

@* pakt deze page nog niet? *@