@page "/confirmation"

<h1 style="font-size: 2em; color: #fff;">Bedankt voor uw bestelling!</h1>
<p style="color: #fff;">U heeft 6 kaartjes besteld voor de film : 'The Godfather'</p>

<div class="order-summary" style="margin: 20px 0; padding: 20px; border: 1px solid #fff;">
    <h2 style="font-size: 1.5em; margin-bottom: 10px;">Order Summary</h2>
    <ul style="list-style-type: none; padding: 0;">
        <li style="margin-bottom: 5px;">Ticketsoort 1 - 3x - €0</li>
        <li style="margin-bottom: 5px;">Ticketsoort 2 - 1x - €0</li>
        <li style="margin-bottom: 5px;">Ticketsoort 3 - €0</li>
        <li style="margin-bottom: 5px;">Ticketsoort4 - €0</li>
        <li style="margin-bottom: 5px;">Ticketsoort5 - €0</li>
    </ul>
    <p>Total:-        6x - €0.00</p>
</div>

<p style="color: #fff;">Of gebruik onderstaande code in de cinema:</p>
<p style="color: #fff;">123456</p>

<button class="print-button" style="background-color: red; color: #fff; padding: 10px 20px; border: none; cursor: pointer;">Print tickets</button>
