@page "/"
@rendermode InteractiveServer
@using CineMagicData.Models
@using CineMagic.Services
@inject CineMagic.Services.MovieService MovieService
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<section class="film-listing">
    <!-- Demo film card -->
    @foreach (var movie in _movies)
    {
        <div class="film-card">
            <img src="https://via.placeholder.com/200" alt="Demo Film Image">
            <div class="film-info">
                <h3>@movie.Title</h3>
                <p>@movie.Description</p>
                <button type="button" @onclick="() => { NavigateTo(movie.Id); }" class="btn btn-primary">Info</button>
            </div>
            <button class="expand-details" @onclick="() => ToggleDetails(movie)">+</button>
            <div class="additional-details" style="">
                <p>Director: </p>
                <p>Cast: </p>
            </div>
        </div>
    }
</section>

@code
{
    List<Movie> _movies = new List<Movie>();
    
    protected override async Task OnInitializedAsync()
    {
        _movies = (await MovieService.GetAllMovies()).ToList();
    }

    // Method to toggle the details visibility
    void ToggleDetails(Movie movie)
    {
        // movie.IsExpanded = !movie.IsExpanded;
    }

    public void NavigateTo(int id)
    {
        NavigationManager.NavigateTo($"film-details/{id}");
    }
}
