@page "/"
@rendermode InteractiveServer
@using CineMagicData.Models
@using CineMagicBlazor.Services
@inject MovieService MovieService
@inject NavigationManager NavigationManager
<PageTitle>Home</PageTitle>
<style>
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    
    body {
      display: flex;
      margin: 0;
      font-family: Arial, sans-serif;
    }
    
    .filter-sidebar {
      width: 200px; 
      height: 100vh; 
      padding: 20px; 
      overflow-y: auto; 
      border-radius: 10px;
      
    }
    
    .film-listing {
      flex-grow: 1; 
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
      gap: 20px; 
    }
    
   
    .film-card {
     
      position: relative;
      overflow: hidden;
      border-radius: 5px;;
    }
    
    .film-card img {
      width: 100%; 
      height: auto; 
    }
    
   
    .film-info {
      padding: 10px;
      background: #666363; 
      color: white;
    }
    
    .expand-details {
      position: absolute;
      top: 10px;
      right: 10px;
      background: #007bff; 
      color: white;
      border: none;
      border-radius: 50%;
      width: 30px; 
      height: 30px;
      text-align: center;
      line-height: 30px; 
      cursor: pointer;
      font-size: 20px;
    }
    
    .additional-details {
      display: none; 
      padding: 10px;
      background: #f8f9fa; 
    }
    
    .film-card.expanded .additional-details {
      display: block;
    }
    
    
    .filter-sidebar div {
      padding: 10px;
      margin-bottom: 8px; 
      background-color: #e9ecef; 
      cursor: pointer;
    }
    
    
    .filter-sidebar div:hover {
      background-color: #dee2e6; 
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function() {
      const cards = document.querySelectorAll('.film-card');

      cards.forEach(card => {
    	card.querySelector('.expand-details').addEventListener('click', function() {
    	  card.classList.toggle('expanded');
    	});
      });
    });

</script>

<div class="filter-sidebar" style="margin-top:300px;height: 800px; ">
    <!-- Filter options -->
    <div style="background-color:#666363;  color:white; border-radius: 10px;">
        <label class="form-label" for="search">Search</label>
        <input @bind="searchTerm" class="form-control" name="search" id="search"/>
    </div>
     <div style="background-color:#666363;  color:white; border-radius: 10px;">
            <label class="form-label" for="pegiRating">Age rating</label>
            <select @bind="pegi" class="form-control" id="pegiRating">
                <option value="" selected>all</option>
                <option value="3">3</option>
                <option value="7">7</option>
                <option value="12">12</option>
                <option value="16">16</option>
                <option value="18">18</option>
            </select>
     </div>       
    <div style="background-color:#666363;  color:white; border-radius: 10px;">
        <label class="form-label" for="ageRating">Age rating</label>
        <select @bind="genre" class="form-control" id="ageRating">
            <option value="" selected>all</option>
            <option value="horror">horror</option>
            <option value="romantic">romantic</option>
            <option value="comedy">comedy</option>
        </select>
    </div>
    <div style="background-color:#666363;  color:white; border-radius: 10px;">
        <button @onclick="SearchMovies" class="btn btn-primary">Zoek</button>
    </div>    
</div>

<section style="margin-left: 200px; margin-top: -975px !important; border-radius: 10px; " class="film-listing">
    @foreach (var movie in _movies)
    {
        <div class="film-card">
            <img src="/img/poster1.jpg" alt="Demo Film Image">
            <div class="film-info">
                <h3>@movie.Title</h3>
                <p>@movie.Description</p>
                <button type="button" @onclick="() => { NavigateTo(movie.Id); }" class="btn btn-primary">Info</button>
            </div>
        </div>
    }
</section>

@code {
    List<Movie> _movies = new List<Movie>();

    private string searchTerm = ""; 
    private string pegi = ""; 
    private string genre = ""; 
    
    protected override async Task OnInitializedAsync()
    {
        _movies = (await MovieService.GetAllMovies()).ToList();
    }

    public void NavigateTo(int id)
    {
        NavigationManager.NavigateTo($"film-details/{id}");
    }

    protected async Task SearchMovies()
    {
        _movies = (await MovieService.SearchMovies(searchTerm, pegi, genre)).ToList();
    }
}
