@page "/Maps"
<h3>Maps</h3>

@code {
    
}



<body>
<div style="border:5px red; margin-top: 300px; margin-left: 500px;">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2479.1062471871664!2d4.794994177116932!3d51.58461610505892!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6a1d7942a1a21%3A0x46b0efbbbd6471c7!2sAvans%20Hogeschool!5e0!3m2!1snl!2snl!4v1711023163667!5m2!1snl!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</body>
