@page "/WeekOverview"
@using CineMagicData.Models
@using CineMagicBlazor.Services
@inject ShowService ShowService
@rendermode InteractiveServer

<h2 style=" margin: 0 auto;margin-top:150px; width: 300px; background-color:cornflowerblue; text-align: center;">Week Overview</h2>

<div class="text-white">
    <div>
        <p style="font-weight: bold; margin-left:900px; margin-top: 20px;">Deze week:</p>
        <div>
            @foreach (var date in _shows)
            {
                <div class="d-flex gap-3" style="border:none;">
                    <div style="text-align:center; margin-left: 800px; margin-top: 20px; border: none;">
                        @date.DateTime.Date.ToString("dd-MM-yyyy")  -
                    </div>
                    @foreach (var show in date.Shows)
                    {
                        <div style="margin-top:20px; border: none; ">
                            @show.Movie.Title om @show.DateTime.ToString("HH:mm") in zaal @show.Room.room_number
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

@code {
    
    private List<GroupedShows> _shows = new List<GroupedShows>();

    protected override async Task OnInitializedAsync()
    {
        _shows = (await ShowService.GetGroupedShows()).ToList();
    }
}